body {
    color: white;
    background-image: url(images/hockeybackground.png);

}
.container {

    max-width: 1024px;
    min-height: 300px;
    margin: 0 auto;

}

header {
    background-color: red;
    text-align: center;
    width: 100%;
    min-height: 100px;

}

nav {
    background-color: rgb(124, 10, 2);
    width: 100%;
    min-height: 50px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

 li a {
    color: white;
    text-decoration: none;
  }

  li {
    display: inline;
    float: left;
    
  }
  
  a {

    display: block;
    padding: 15px;
    
  }

  main {
    
    float: left;
    color: white;  
    margin-top: 10px;
    background-color: rgb(124, 10, 2);
    width: 900px; 
    min-height: 250px;
  }

  main h2 {
    text-align: center;
  }
  
  main img {
      float: left;
    padding: 20px;

  }

  article{
    clear: both;
    background-color: rgb(124, 10, 2);
    width: 100%;
    min-height: 250px;
    text-align: center;
  }

  footer {
    text-align: center;
    clear: both;
    background-color: black;
    min-height: 50px;
    width: 100%;

  }